html, body {
    width: 100%;
    height: 100%;
}

.map {
    width: 100%;
    height: 100%;
}

.locate {
    top: 6em;
    left: .5em;
}

#model_body_warning_content {
    margin-top: .5em;
    text-align: center;
    font-weight: bold;
}